
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.hrr-5 {
    border: 0;
    height: 15px;
    margin: auto;
    position: relative;
    background: radial-gradient(ellipse at bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 70%);
    width: 50% !important;
    
}

.home-x::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 1620px;
    height: 2010px;
    background: #f6fafd;
    transform: skew(0, 
-10deg
);
    width: 100%;
    z-index: -1;
}